.nav-ecommerce {
    padding: 30px !important;
}
.icones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}

.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.cart-button p {
    margin-left: 4px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: blue;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
}

.user-dropdown {
    display: flex;
    margin: 10px;
    box-sizing: border-box;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.user-dropdown img {
    width: 20px;
    justify-content: center;
    align-self: center;
    margin-right: 10px;
}

.item-dropdown {
    width: 100%;
}
.dropdown-menu {
    --bs-dropdown-min-width: 9rem !important;
    margin-top: 10px !important;
}
.favoritos {
    width: 1.8rem;
}

div svg {
    width: 2rem;
}

g :hover {
    fill: #2326fe;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .icones {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}
