.box-principal{
    display: flex;
    align-content: center;
}

.info-extra{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}

.info-imagens{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;

}

.info-produtos{
    display: flex;
    justify-content: center !important;
    align-items:center;
    width: 100%;
    gap: 200px;
}

.produto-principal{
    max-width: 300px;
}

.box-imagens{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.imagem-extra{
    width: 15%;
}

.botao-produto{
    background-color: #2326fe;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .info-produtos{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 30px;
        gap: 0;
    }

    .produto-principal{
        width: 100%;
    }

    .imagem-extra{
        width: 30%;
    }

    .info-extra{
       margin-top: 10px;
    }

    .box-incremento-quantidade{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .box-imagens{
        margin-left: 0;
        align-self: center;
    
    }

  }