a{
  text-decoration:underline;
  color: white;
}

a:hover{
  color: white;
  
}

.ajusta-produtos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 80px;

}

.ajuste-blog{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 800px) {
  .ajuste-blog{
    flex-wrap: wrap;
  }

  .ajusta-produtos{

    padding: 50px !important;
    width: 100%;
    margin: 0;

  }
}

