.ajuste-card2 {
    border: none !important;
    text-align: center;
    margin: 20px;
}
.ajuste-botao {
    background-color: #2326fe;
}

@media screen and (max-width: 800px) {
    .ajuste-card {
        width: 100%;
    }
}
